# Build directories
build/
*-Debug/
*-Release/
*-Profile/

# Qt specific
*.user
*.autosave
moc_*
ui_*
qrc_*
Makefile*
*build-*
*.qmake.stash

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Save files
game_save.json

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
